<h1 [ngClass]="{ 'rotate-cube': timerActive }">2x2</h1>

<div class="button-container">
  <button
    mat-raised-button
    color="primary"
    type="button"
    [disabled]="timerActive"
  >
    Start
  </button>
  <button
    mat-raised-button
    color="warn"
    type="button"
    [disabled]="!timerActive"
  >
    Stop
  </button>
</div>

<div>
  <p id="timeBig">{{ tiempo }}</p>
  <p id="timeMed" (click)="timerActive ? stopTimer() : startTimer()">
    {{ tiempo }}
  </p>
  <p id="timeSma" (click)="timerActive ? stopTimer() : startTimer()">
    {{ tiempo }}
  </p>
</div>

<div id="howto">
  <p>Iniciar/Parar tempo: Espazo</p>
  <p>Rexistrar tempo: Enter</p>
</div>
<div id="howtoMob">
  <p>Iniciar/Parar tempo: Click no contador</p>
  <p>Rexistrar tempo: Click no botón flotante</p>
</div>
<div id="resultados">
  <h2>Tempos desta sesión:</h2>
  <h2 class="float">Media desta sesión: {{ avg2 }}"</h2>
</div>
<div>
  <ol>
    <li *ngFor="let tiempo2 of tiempos2x2">{{ tiempo2 }}"</li>
  </ol>

  <button
    class="fixed"
    (click)="insertartiempo2()"
    mat-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
  >
    <mat-icon>save</mat-icon>
  </button>
</div>

<footer>
  Podes ver o teu historial de tempos rexistrados premendo na estrela
</footer>
