<main>
  <h2 [ngClass]="{ 'rotate-cube': timerActive }">4x4</h2>

  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      type="button"
      [disabled]="timerActive"
    >
      Start
    </button>
    <button
      mat-raised-button
      color="warn"
      type="button"
      [disabled]="!timerActive"
    >
      Stop
    </button>
  </div>

  <p class="timer" (click)="timerActive ? stopTimer() : startTimer()">
    {{ tiempo }}
  </p>

  <div class="howto">
    <p>Iniciar/Parar tempo: Espazo/Click</p>
    <p>Rexistrar tempo: Enter/Botón</p>
  </div>
</main>

<div class="resultados">
  <h2>Tempos desta sesión:</h2>
  <h2>Media desta sesión: {{ avg4 }}"</h2>
</div>

<div>
  <ol>
    <li *ngFor="let tiempo4 of tiempos4x4">{{ tiempo4 }}"</li>
  </ol>

  <button
    class="fixed"
    (click)="insertartiempo4()"
    mat-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
  >
    <mat-icon>save</mat-icon>
  </button>
</div>

<footer>
  Podes ver o teu historial de tempos rexistrados premendo na estrela
</footer>
