* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;

}

.rotate-cube  {
  animation : cube 2s infinite !important;
}


h1 {
  display: block;
  padding: 20px;
  color: black;
  border: solid black 2px;
  border-radius: 10px;
  background: yellow;
  text-align: center;
  margin: auto;
  transition: all 0.5s ease;
margin: auto;
width: fit-content;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1:hover {
  cursor: none;
}

@keyframes cube {
  0% {
    color: white;
    transform: rotateX(0deg) rotateY(0deg);
    background: red;
  }
  25% {
    color: white;
    transform: rotateX(180deg) rotateY(0deg);
    background: blue;
  }
  50% {
    color: white;
    transform: rotateX(180deg) rotateY(180deg);
    background: green;
  }
  75% {
    color: white;
    transform: rotateX(0deg) rotateY(180deg);
    background: orange;
  }
  100% {
    color: white;
    transform: rotateX(0deg) rotateY(0deg);
    background: red;
  }
}







div {

  margin: 40pt;
}


button {

display: flex;
justify-content: space-around;


}

  
.button-container {

  display: flex;
  justify-content: center;
  gap: 20pt;

}

@media (min-width: 1081px) {



  #timeBig {

    text-align: center;
    background-color: white;
    border: solid 1px black;
    display: block;
    margin: auto;
    padding: 80pt;
    max-width: 40%;
    height: 50%;
    border-radius: 5pt;
    font-size: 10em;
  }


  #timeMed {

    display: none;

  }
  
}

@media (min-width: 426px) {

#timeSma {display: none;}

}


@media (max-width: 1080px) {

#timeBig {display: none;}

#timeMed {

  text-align: center;
    background-color: white;
    border: solid 1px black;
    display: block;
    margin: auto;
    padding-top: 200pt;
    padding-bottom: 200pt;

height: 60vh;
width: 60wh;
    border-radius: 5pt;
    font-size: 10em;

}



#fixed {

  position: fixed;
  right: 10px;
  bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 10%;
  height: 10%;

}


}




#ultimo3 ol, li {

  margin: 10pt;
  padding: 10pt;
  list-style: decimal;
}

#howto {
  float: center;

  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

@media (max-width: 425px) {
 
  h1 {

    position: relative;
    top: 15pt;

  }
  
  #resultados {

    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  #howto {

    display: none;
  }
  
  #timeMed {display: none;}
  
#timeSma {

  text-align: center;
    background-color: white;
    border: solid 1px black;
    display: block;
    margin: auto;
    padding-top: 200pt;
    padding-bottom: 200pt;

height: 60vh;
width: 60wh;
    border-radius: 5pt;
    font-size: 6em;

}

}


  