.rotate-cube  {
  animation : cube 2s infinite !important;
}



html, body { height: 100%; max-width: 100%; margin: 0;padding: 0;font-family: Roboto, "Helvetica Neue", sans-serif;}
* {box-sizing: border-box;}




footer {
    width: 70%;
    color: white;
    padding: 20pt !important;



}


#buttonHistorial {

    border-radius: 0 !important;
}

#howtoMob {

font-weight: bold;
text-align: center;

}

#howto {
    float: center;

    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
  }

.float {


    float: right;
    display: inline;

  }

  h2 {


    display: inline;
  }

  .fixed {
  
    position: fixed !important;
    right: 10px !important;
    bottom: 10px !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    width: 18% !important;
    height: 9% !important;
  }
  
  


html {

    background-color: rgb(154, 140, 235);
}

#Ciudad {

    display: flex;
    justify-content: center;
}

#Todas {

    display: flex;
    justify-content: center;
}

#Nueva {

    display: flex;
    justify-content: center;
}

li {

    list-style: circle;
  
   }

h1 {

    text-align: center;
    margin-bottom: 100pt;
    padding-bottom: 50pt;

}

table * {
    max-width: 100%;

    border: solid black 1px;
}

table {
    max-width: 100%;

    border: solid black 1px;
}


ol {

    font-size: 2em;
    padding: 40pt;
    margin: 40pt;
}

li {
    padding: 40pt;
    margin: 40pt;
}

h2 {
    margin: 10pt !important;
}

h1 {

font-size: 3rem !important;


}


@media (max-width: 426px) {
    [router-outlet] {
      position: absolute !important;
      top: 100px !important;
    }
  }
  

  @media (min-width: 426px) {

footer {

    display: none;
}

.fixed {

    position: fixed;
    right: 10px !important;
    bottom: 10px !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    width: 10% !important;
    height: 10% !important;
  
  }


  }
  @media (min-width: 780px) {

    .fixed {

        position: fixed;
        right: 10px !important;
        bottom: 10px !important;
        text-align: center !important;
        display: flex !important;
        justify-content: center !important;
        width: 10% !important;
        height: 12% !important;
      
      }

  }

  @media (min-width: 1000px) {

    .fixed {

        position: fixed;
        right: 10px !important;
        bottom: 10px !important;
        text-align: center !important;
        display: flex !important;
        justify-content: center !important;
        width: 10% !important;
        height: 13% !important;
      
      }

  }


  @media (min-width: 1081px) {

    #howtoMob {

        display: none;
    }

  .fixed {

    display: none !important;
  }

  }

  @media (max-width: 1080px) {

    #howto {
        display: none;
    }

  

  }